* {
	color:white;
	text-rendering: optimizeLegibility;
	font-family: sans-serif;
	text-align: center;
}

body {
	background-color: black;
}

h1 {
	font-size: 10em;
	display: inline;
}

h2,h3 {
	font-size: 2em;
}

h3 {
	font-style: italic;
	color:blue;
	text-decoration: underline;
}

h4 {
	font-size:1.5em;
}

.post {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.post-title {
	margin-left:30%;
	margin-right:30%;
}
.game {
	width:100%;
}

#homepic {
	width:40%;
	height:auto;
	margin:auto;
}

a {
	text-decoration: none;
	color:indigo;
}

img {
	width: 80%;
	height: auto;
}

p {
	font-size: 1em;
}

#welcome {
	font-size: 2em;
}
